---
title: "홈어시스턴트 애드온"
description: "List of the built-in add-ons of Hass.io."
regenerate: false
---

<p>
  홈어시스턴트 애드온은 홈어시스턴트의 기능을 확장합니다. 애드온은 홈어시스턴트와 통합되는 어플리케이션(MQTT 브로커 같은)을 실행하거나 삼바를 설치해서 다른 컴퓨터에서 원격으로 설정 파일들을 편집할 수 있게 해줍니다. 애드온을 설치/실행하려면 홈어시스턴트의 Superviser 패널을 선택합니다. </p>

<p>
   <a href='https://community.home-assistant.io/tags/hassio-repository'>커뮤니티가 운영하는 애드온</a>에 대해서는 홈어시스턴트 포럼을 살펴보세요.
</p>

<p class='note'>
애드온을 사용하기 위해서는 홈어시스턴트를 설치해야 합니다. 다른 설치 방법으로 홈어시스턴트를 이용중이라면 애드온을 사용할 수 없습니다. 이런 경우 동일한 기능을 수행하는 어플리케이션을 별도로 구성해야 합니다.
</p>

{% assign addons = site.addons | sort: 'title' %}

<h3>추천 애드온</h3>

<ul>
{% for addon in addons %}{% if addon.featured %}
  <li>
    <a href='{{ addon.url }}'>{{ addon.title }}</a><br>
    {{ addon.description }}
  </li>
{% endif %}{% endfor %}
</ul>

<h3>기타 애드온</h3>

<ul>
{% for addon in addons %}{% if addon.featured != true %}
  <li>
    <a href='{{ addon.url }}'>{{ addon.title }}</a><br>
    {{ addon.description }}
  </li>
{% endif %}{% endfor %}
</ul>
