<section class="aside-module grid__item one-whole lap-one-half">
  <div class="section">
    <h1 class="title delta">목차</h1>
    <ul class="divided sidebar-menu">
      <li>
        <b>{% active_link /faq/ FAQ %}</b> |
        <b>{% active_link /docs/glossary/ 용어정리 %}</b>
      </li>
      <li>
        <b>{% active_link /docs/installation/ 설치 %}</b>
        <ul>
          <li>{% active_link /hassio/ Hass.io %}</li>
          <li>{% active_link /docs/installation/updating/ 업데이트 %}</li>
          <li>
            {% active_link /docs/installation/troubleshooting/ 문제해결
            %}
          </li>
        </ul>
      </li>
      <li>
        <b>{% active_link /docs/configuration/ 설정 %}</b>
        <ul>
          <li>{% active_link /docs/configuration/yaml/ YAML %}</li>
          <li>
            {% active_link /docs/configuration/basic/ 기본 설정 %}
          </li>
          <li>
            {% active_link /docs/configuration/devices/ 장비 추가 %}
          </li>
          <li>
            {% active_link /docs/configuration/customizing-devices/ 엔티티 수정 %}
          </li>
          <li>
            {% active_link /docs/configuration/troubleshooting/ 문제해결
            %}
          </li>
          <li>
            {% active_link /docs/configuration/securing/ 보안 점검 사항
            %}
          </li>
        </ul>
      </li>
      <li>
        <b>고급 설정</b>
        <ul>
          <li>{% active_link /docs/configuration/remote/ 원격 접속 %}</li>
          <li>{% active_link /docs/configuration/packages/ 패키지 %}</li>
          <li>
            {% active_link /docs/configuration/splitting_configuration/
            설정 파일 분할 %}
          </li>
          <li>
            {% active_link /docs/configuration/secrets/ 보안 유지 %}
          </li>
          <li>{% active_link /docs/configuration/templating/ 템플릿 사용 %}</li>
          <li>
            {% active_link /docs/configuration/platform_options/ 엔티티 옵션 %}
          </li>
        </ul>
      </li>
      <li>
        <b>{% active_link /docs/authentication/ 인증 %}</b>
        <ul>
          <li>
            {% active_link /docs/authentication/providers/ Auth Providers %}
          </li>
          <li>
            {% active_link /docs/authentication/multi-factor-auth/ Multi Factor
            Auth %}
          </li>
        </ul>
      </li>
      <li>
        <b>핵심 오브젝트</b>
        <ul>
          <li>{% active_link /docs/configuration/events/ 이벤트 %}</li>
          <li>
            {% active_link /docs/configuration/state_object/ 상태 오브젝트 %}
          </li>
        </ul>
      </li>
      <li>
        <b>{% active_link /docs/automation/ 자동화 %}</b>
        <ul>
          <li>{% active_link /docs/automation/examples/ 예제 %}</li>
          <li>{% active_link /docs/automation/editor/ 자동화 편집기 %}</li>
          <li>{% active_link /docs/automation/trigger/ 트리거 %}</li>
          <li>{% active_link /docs/automation/condition/ 조건 %}</li>
          <li>{% active_link /docs/automation/action/ 동작 %}</li>
          <li>{% active_link /docs/automation/templating/ 템플릿 %}</li>
          <li>
            {% active_link /docs/automation/troubleshooting/ 문제해결 %}
          </li>
        </ul>
      </li>
      <li>
        <b>{% active_link /docs/frontend/ Frontend %}</b>
        <ul>
          <li>
            {% active_link /docs/frontend/mobile/ Android/iOS 홈스크린 %}
          </li>
          <li>
            {% active_link /docs/frontend/browsers/ 호환 브라우저 목록
            %}
          </li>
          <li>{% active_link /lovelace Lovelace UI %}</li>
        </ul>
      </li>
      <li>
        <b>{% active_link /docs/backend/ Backend %}</b>
        <ul>
          <li>{% active_link /docs/backend/database/ 데이터베이스 %}</li>
          <li>{% active_link /docs/backend/updater/ Updater %}</li>
          <li>{% active_link /developers/api/ API %}</li>
        </ul>
      </li>
      <li>
        <b>{% active_link /docs/scripts/ 스크립트 %}</b>
        <ul>
          <li>{% active_link /docs/scripts/service-calls/ 서비스 실행 %}</li>
          <li>{% active_link /docs/scripts/conditions/ 조건 %}</li>
          <li>{% active_link /docs/scripts/editor/ 스크립트 편집기 %}</li>
        </ul>
      </li>
      <li>
        <b>{% active_link /docs/scene/ Scenes %}</b>
        <ul>
          <li>{% active_link /docs/scene/editor/ Editor %}</li>
        </ul>
      </li>
      <li>
        <b>{% active_link /docs/tools/ Tools and Helpers %}</b>
        <ul>
          <li>{% active_link /docs/tools/dev-tools/ Developer Tools %}</li>
          <li>{% active_link /docs/tools/hass/ hass %}</li>
          <li>{% active_link /docs/tools/benchmark/ benchmark %}</li>
          <li>{% active_link /docs/tools/check_config/ check_config %}</li>
          <li>{% active_link /docs/tools/credstash/ credstash %}</li>
          <li>{% active_link /docs/tools/ensure_config/ ensure_config %}</li>
          <li>{% active_link /docs/tools/keyring/ keyring %}</li>
        </ul>
      </li>
      <li>
        <b>{% active_link /docs/security/ Security %}</b>
        <ul>
          <li>
            {% active_link /docs/security/webserver/ Web server fingerprint %}
          </li>
          <li>{% active_link /docs/security/porosity/ Porosity %}</li>
        </ul>
      </li>
      <li>
        <b>{% active_link /docs/z-wave/ Z-Wave %}</b>
        <ul>
          <li>
            {% active_link /docs/z-wave/installation/ 지웨이브 설정 %}
          </li>
          <li>{% active_link /docs/z-wave/adding/ 기기 추가 %}</li>
          <li>
            {% active_link /docs/z-wave/control-panel/ 지웨이브 관리 화면
            %}
          </li>
          <li>{% active_link /docs/z-wave/controllers/ 콘트롤러 %}</li>
          <li>
            {% active_link /docs/z-wave/devices/ 기기 %} 와 {% active_link
            /docs/z-wave/entities/ 엔티티 %}
          </li>
          <li>
            {% active_link /docs/z-wave/query-stage/ 단계별 초기화 %}
          </li>
          <li>
            {% active_link /docs/z-wave/device-specific/ 특정 기기 %}
            설정
          </li>
          <li>
            {% active_link /docs/z-wave/events/ 이벤트 %} 와 {% active_link
            /docs/z-wave/services/ 서비스 %}
          </li>
        </ul>
      </li>
      <li>
        <b>{% active_link /docs/mqtt/ MQTT %}</b>
        <ul>
          <li>{% active_link /docs/mqtt/broker/ 브로커 %}</li>
          <li>{% active_link /docs/mqtt/certificate/ 인증서 %}</li>
          <li>{% active_link /docs/mqtt/discovery/ 발견 %}</li>
          <li>{% active_link /docs/mqtt/service/ Publish service %}</li>
          <li>
            {% active_link /docs/mqtt/birth_will/ Birth and last will messages
            %}
          </li>
          <li>{% active_link /docs/mqtt/testing/ 테스트 %}</li>
          <li>{% active_link /docs/mqtt/logging/ Logging %}</li>
          <li>{% active_link /docs/mqtt/processing_json/ JSON 처리 %}</li>
        </ul>
      </li>
      <li>
        <b>{% active_link /docs/ecosystem/ios/ iOS %}</b>
        <ul>
          <li>
            {% active_link /docs/ecosystem/ios/notifications/basic/ Basic
            notifications %}
          </li>
          <ul>
            <li>
              {% active_link /docs/ecosystem/ios/notifications/sounds/ Sounds %}
            </li>
            <li>
              {% active_link /docs/ecosystem/ios/notifications/architecture/
              Architecture %}
            </li>
            <li>
              {% active_link
              /docs/ecosystem/ios/notifications/privacy_security_rate_limits/
              Privacy, rate limiting and security %}
            </li>
          </ul>
          <li>Advanced notifications</li>
          <ul>
            <li>
              {% active_link /docs/ecosystem/ios/notifications/attachments/
              Attachments %}
            </li>
            <li>
              {% active_link
              /docs/ecosystem/ios/notifications/content_extensions/ Dynamic
              content %}
            </li>
            <li>
              {% active_link /docs/ecosystem/ios/notifications/actions/
              Actionable notifications %}
            </li>
            <li>
              {% active_link
              /docs/ecosystem/ios/notifications/requesting_location_updates/
              Requesting location updates %}
            </li>
          </ul>
          <li>
            {% active_link /docs/ecosystem/ios/location/ Location Tracking %}
          </li>
          <li>
            {% active_link /docs/ecosystem/ios/integration/ Integration with
            other apps %}
          </li>
        </ul>
      </li>
      <li>
        {% active_link /docs/ecosystem/ Ecosystem %}
        <ul>
          <li>
            {% active_link /docs/autostart/ Autostart %}
            <ul>
              <li>
                {% active_link /docs/autostart/systemd/ systemd (Linux) %}
              </li>
              <li>
                {% active_link /docs/autostart/upstart/ Upstart (Linux) %}
              </li>
              <li>{% active_link /docs/autostart/init.d/ init.d (Linux) %}</li>
              <li>{% active_link /docs/autostart/macos/ macOS %}</li>
              <li>{% active_link /docs/autostart/synology/ Synology NAS %}</li>
            </ul>
          </li>
          <li>
            {% active_link /docs/ecosystem/appdaemon/ AppDaemon %}
          </li>
          <li>
            {% active_link /docs/ecosystem/hadashboard/ HADashboard %}
          </li>
          <li>
            {% active_link /docs/ecosystem/notebooks/ Notebooks %}
            <ul>
              <li>{% active_link /docs/ecosystem/notebooks/ Introduction %}</li>
              <li>
                {% active_link /docs/ecosystem/notebooks/installation/
                Installation %}
              </li>
              <li>{% active_link /docs/ecosystem/notebooks/graph/ Graph %}</li>
              <li>
                {% active_link /docs/ecosystem/notebooks/api/ Home Assistant API
                %}
              </li>
              <li>
                {% active_link /docs/ecosystem/notebooks/database/ Database %}
              </li>
              <li>
                {% active_link /docs/ecosystem/notebooks/stats/ Statistics %}
              </li>
            </ul>
          </li>
          <li>
            Remote access
            <ul>
              <li>{% active_link /docs/ecosystem/apache/ Apache %}</li>
              <li>{% active_link /docs/ecosystem/caddy/ Caddy Server %}</li>
              <li>{% active_link /docs/ecosystem/haproxy/ HAProxy %}</li>
              <li>{% active_link /docs/ecosystem/nginx/ NGINX %}</li>
              <li>
                {% active_link /docs/ecosystem/nginx_subdomain/ NGINX with
                subdomain%}
              </li>
              <li>{% active_link /docs/ecosystem/tor/ Tor Onion Service %}</li>
            </ul>
          </li>
          <li>
            {% active_link /docs/ecosystem/certificates/ Certificates %}
            <ul>
              <li>
                {% active_link
                /docs/ecosystem/certificates/tls_self_signed_certificate/
                Self-signed certificate %}
              </li>
              <li>
                {% active_link
                /docs/ecosystem/certificates/tls_domain_certificate/ Certificate
                domain owners %}
              </li>
              <li>
                {% active_link /docs/ecosystem/certificates/lets_encrypt/ Let's
                Encrypt (detailed) %}
              </li>
            </ul>
          </li>
          <li>
            백업
            <ul>
              <li>
                {% active_link /docs/ecosystem/backup/backup_github/
                GitHub 백업 %}
              </li>
              <li>
                {% active_link /docs/ecosystem/backup/backup_dropbox/
                Dropbox 백업 %}
              </li>
              <li>
                {% active_link /docs/ecosystem/backup/backup_usb/ USB
                백업 %}
              </li>
            </ul>
          </li>
          <li>{% active_link /docs/ecosystem/synology/ 시놀로지 %}</li>
          <li>
            {% active_link /docs/ecosystem/hass-configurator/ Configurator
            %}
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
