<section class="aside-module grid__item one-whole lap-one-half">
  <div class='section'>
    <h1 class="title delta">목차</h1>
    <ul class='divided sidebar-menu'>
      <li>
        {% active_link /hassio/ 홈어시스턴트 %}
        <ul>
          <li>{% active_link /hassio/installation/ 설치 %}</li>
          <li>{% active_link /addons/ 애드온 %}</li>
          <li>{% active_link /hassio/installing_third_party_addons/ 서드파티 애드온 %}</li>
        </ul>
      </li>
    </ul>
    <ul class='divided sidebar-menu'>
      <li>
        고급 설정
        <ul>
          <li>{% active_link /hassio/commandline/ 명령어 모드 %}</li>
          <li>{% active_link /hassio/zwave/ Z-Wave %}</li>
          <li>{% active_link /hassio/enable_i2c/ I2C 사용 %}</li>
        </ul>
      </li>
    </ul>
    <ul class='divided sidebar-menu'>
      <li>{% active_link /hassio/developing_addon/ 애드온을 제작하려면? %}
        <ol>
          <li>{% active_link /hassio/hassio_addon_tutorial/ 무작정 따라해보기 %}</li>
          <li>{% active_link /hassio/hassio_addon_config/ 애드온 설정 %}</li>
          <li>{% active_link /hassio/hassio_addon_communication/ 통신 방법 %}</li>
          <li>{% active_link /hassio/hassio_addon_testing/ 테스트 %}</li>
          <li>{% active_link /hassio/hassio_addon_publishing/ 배포하기 %}</li>
          <li>{% active_link /hassio/hassio_addon_presentation/ 홍보하기 %}</li>
          <li>{% active_link /hassio/hassio_addon_repository/ 저장소 관리 %}</li>
          <li>{% active_link /hassio/hassio_addon_security/ 보안 검수 %}</li>
        </ol>
      </li>
    </ul>
  </div>
</section>
